@hyext-inner:registry=https://nexus.huya.com/repository/npm-public/
@huyafed:registry=https://nexus.huya.com/repository/npm-public/
@cpp_sync_framework:registry=https://nexus.huya.com/repository/npm-public/
@zs:registry=https://nexus.huya.com/repository/npm-public/