@huyafed:registry=http://npm.huya.com
@hy-hybrid:registry=http://npm.huya.com
@hyext-inner:registry=https://nexus.huya.com/repository/npm-public/
@huyafed:registry=https://nexus.huya.com/repository/npm-public/
@zs:registry=https://nexus.huya.com/repository/npm-public/
unsafe-perm = true
